<h3>A stranger sat down at the blackjack table...</h3>
<p>What's the name of the stranger?</p>
<form action='/set_name' method='post'>
  <div class="row">
    <div class="large-2 columns">
      <input type='text' name='player_name'/>
      <input type='submit' class='button radius'/>
    </div>
  </div>
</form>
