<h2>The Blackjack Game</h2>
<h3>You sat down at the blackjack table...</h3>
<p>What's your name?</p>
<div class="row">
    <div class="large-2 columns">
      <form action='/set_name' method='post'>
        <input type='text' name='player_name' required />
        <input type='submit' class='button round small' value='Play'/>
    </div>
  </div>
</form>
