body {
  padding: 10px 20px;
  margin: 20px;
  font-size: 14px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.person-info {
  background-color: #eee;
  padding: 10px 15px;
  margin: 10px 0px;

}

.person-info p {
  font-size: 14px;
}

.radius {
  border-radius: 20px;
}

.alert-box {
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

.alert-box p {
  font-size: 13px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

img.card {
  height: 100px;
  border-radius: 3px;
  border: solid 1px;
}
