body {
  padding: 10px 20px;
  margin: 20px;

}

.person-info {
  background-color: #eee;
  padding: 20px 15px;
  margin: 20px 0px;
}

.radius {
  border-radius: 20px;
}

.alert-box {
  font-size: rem-calc(18);
}